footer {
    margin: 20px;
    padding: 20px;
    border-top: 1px;
    text-align: center;
    background-color: darksalmon;
}

.info {
    text-align: center;
    color: rgb(15, 3, 246);
}

.info1 {
    text-align: center;
    color: hotpink;
}

h3 {
    text-align: center;
    margin: 10px;
    color: lightcoral;
}

h4 {
    text-align: center;
    margin: 8px;
    color: rgb(250, 80, 80);
}