* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(251, 208, 208)46, 245;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}